h1,h2,h3,h4,h5,h6{  text-align : center	}
section{
  margin: auto;
  vertical-align:top;
  width:100%; 
}



@media only screen and (min-width: 400px){    
  #header a{ font-size:100%;}
}


/*
body {
  --google-blue-600: rgb(26, 115, 232);
  --google-blue-700: rgb(25, 103, 210);
  --google-gray-50: rgb(248, 249, 250);
  --google-gray-300: rgb(218, 220, 224);
  --google-gray-500: rgb(154, 160, 166);
  --google-gray-600: rgb(128, 134, 139);
  --google-gray-700: rgb(95, 99, 104);
  --google-gray-900: rgb(32, 33, 36);
  background-color: #fff;
  color: var(--google-gray-700);
  word-wrap: break-word;
}
  background: #fff;
  border: 1px solid var(--google-gray-500);
  color: var(--google-blue-700);
  
*/
#homeButtom{
  color:rgb(171,225,200);
  transition: 2s;	
  background:rgba(38,76,83, 0.7);  
  border-radius:  10px 0 0 10px ;
  position: fixed;
  bottom:20%; 
  right:0;
  width: 0px;
  transition: width 1s;
  overflow: hidden;
}

svg.svg-inline--fa.fa-home.fa-w-18 {
    margin: 8px;
    /*vertical-align: middle;*/
    font-size:1.6em;
}

/* .show { 
  position: fixed;   
  color:rgb(171,225,200); 
  background:rgba(38,76,83, 0.7);
}
*/

.sticky{
  position:fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

#logo{
   margin-left:2%;
   vertical-align:middle; 
   float:left; 
   height:99%;
   opacity:0;
   transition:1s;
  }